footer{
  background-color: $color_sub2;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  span{
    color: $color_sub;
  }
}