.header {
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  background: $color_sub2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  @include mq(sm) {
    padding: 0 5px;
  }

  @include mq(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 50px;
    @include mq(lg) {
      padding: 0;
    }
  }

  &__logo {
    @include mq(sm) {
      text-align: center;
    }
  }
}
.logo {
  &__link {
    font-family: $font_family_corp;
    font-size: 45px;
    color: $color_sub;
    position: relative;
    top: -5px;
  }
}
// headerクラスここまで

// .menu {
//   &__list {
//     display: flex;
//     padding: 0;
//     margin: 0 auto;
//   }
//   &__item {
//   }
//   &__link {
//     border: 1px solid $color_sub;
//     margin-left: 20px;
//     padding: 10px 30px;
//     display: block;
//     box-sizing: border-box;
//     color: $color_sub;
//     border-radius: 100px;
//     @include mq(lg) {
//       border-radius: 0px;
//       border: none;
//     }
//   }
// }
/*ナビメニューのスタイルを指定*/
.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: $color_sub2;
  text-align: center;
  width: 25%;
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  transform: translateX(400%);
  transition: all 0.4s;
  @include mq(md) {
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  &__list {
    display: block;
    background: $color_sub2;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  &__item {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted $color_sub;
  }

  &__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__link {
    display: block;
    color: $color_sub;
    padding: 1em 0;
  }

  &.active {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    transform: translateX(300%);
    @include mq(md) {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
}
.toggle {
  display: block;
  position: fixed;
  right: 8px;
  top: 7px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;

  &__ornament {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px $color_sub;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
    left: 6px;
    &:nth-child(1) {
      top: 9px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 27px;
    }
  }
  &.active &__ornament {
    &:nth-child(1) {
      top: 18px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
