.header{
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  // padding-left: $space_3l;
  // padding-right: $space_3l;
  // position: relative;
  background: $color_sub2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  @include mq(sm){
    padding: 0 5px;
  }

  @include mq(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 50px;
    @include mq(lg) {
      padding: 0;
    }
  }
  
  &__logo{
    @include mq(sm) {
      text-align: center;
    }
  }
}
.logo{
  &__link{
    font-family: $font_family_corp;
    font-size: 45px;
    color: $color_sub;
    position: relative;
    top: -5px;
  }
}
// headerクラスここまで

.menu{
  &__list{
    display: flex;
    padding: 0;
    margin: 0 auto;
  }
  &__item{
  }
  &__link{
    border: 1px solid $color_sub;
    margin-left: 20px;
    padding: 10px 30px;
    display: block;
    box-sizing: border-box;
    color: $color_sub;
    border-radius: 100px;
    @include mq(lg){
      border-radius: 0px;
      border: none;
    }
  }

  
}
    @include mq(lg){
      /*ナビメニューのスタイルを指定*/
      .menu{
        position: fixed; /*表示位置を固定*/
        z-index: 2; /*重ね順を変更*/
        top: 0; /*表示位置を指定*/
        left: 0; /*表示位置を指定*/
        background: $color_sub2;/*背景を白にする*/
       /*文字色を黒にする*/
        text-align: center; /*テキストを中央揃え*/
        width: 100%; /*全幅表示*/
        transform: translateX(100%); /*ナビを上に隠す*/
        transition: all 0.6s; /*アニメーションの時間を指定*/
      
        &__list{
          display: block;
          background: $color_sub2; /*背景をグレーにする*/
          width: 100%;
          margin: 0 auto;
          padding: 0;
          
        }
      
        &__item{
          font-size: 1.1em;
          list-style-type: none;
          padding: 0;
          width: 100%;
          border-bottom: 1px dotted $color_sub;
        }
        
        &__item:last-child{
          padding-bottom: 0;
          border-bottom: none; /*最後のメニュー項目のみ下線を消す*/
        }
        
        &__link{
          display: block; /*クリックできる領域を広げる*/
          color:$color_sub;
          padding: 1em 0;
        }
        
        /*トグルボタンが押されたときに付与するクラス*/
        &.active{
          transform: translateX(0%);
        }
      }
      /*トグルボタンのスタイルを指定*/
      .toggle {
        display: block;
        position: fixed;    /* bodyに対しての絶対位置指定 */
        right: 8px;
        top: 7px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 3;
        
        &__ornament {
            display: block;
            position: absolute;
            width: 30px;
            border-bottom: solid 3px $color_sub;
            border-radius: 3px;
            -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
            -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
            transition: .5s ease-in-out;			/*変化の速度を指定*/
            left: 6px;
            &:nth-child(1) {
                top: 9px;
            }
              
            &:nth-child(2) {
                top: 18px;
            }
              
            &:nth-child(3) {
                top: 27px;
            }
        }
        /* 最初のspanをマイナス45度に */
        &.active &__ornament {
      
          &:nth-child(1){
            top: 18px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
            }
            /* 2番目と3番目のspanを45度に */
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
                top: 18px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
      }
}
