.editMemo{
  &__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    @include mq(sm){
      margin: 0 0;
    }
  }
  &__container{
    width: 500px;
    border: 2px solid $color_main;
    box-shadow: 1px 1px 7px $color_main;
    min-height: 300px;
    @include mq(sm){
      min-height: calc(100vh - 260px);
    }
    
  }
  &__body{
  }
  &__info{
    
  }
}
.info{
  &__list{
  }
  &__item{
    
  }
}