.memoList {
  max-width: 1200px;
  margin: 0 auto;
  @include mq(md) {
    margin-right: 5px;
  }

  &__title {
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
  }
}
.cardList {
  overflow: hidden;
  padding: 0 0 0 10px;
  // margin-right: -5px;
  margin-bottom: -5px;
}
.card {
  box-sizing: border-box;
  background-color: #fff;
  border: $color_main 1px solid;
  height: 200px;
  float: left;
  width: calc(100% / 4 - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  @include mq(md) {
    width: calc(100% / 3 - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  @include mq(sm) {
    width: calc(100% / 2 - 5px);
    margin-right: 5px;
    margin-bottom: 5px;
  }
  &__body {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    line-height: 1.2em;
    display: block;
    padding: 8px;
    color: $color_main;
  }
}
.nav__wrap {
  // 縦に積む
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // 中央寄せ
  justify-content: center;
  align-items: center;
}
.memoList-paging {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  a {
    border-radius: 100px;
    color: $color_main;
    display: inline-block;
    padding: 5px 10px;
    &:hover {
      background: $color_sub;
    }
  }
}
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: $color_sub;
  color: $color_main;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  z-index: 1000;
  margin: 0;
}
