$form-width: 300px;
.mypage{
  // .bg-theme {
  //   // overflow: hidden;
  //   // margin-top: $header-height;
  //   background-image: url("../images/hero-rotate.jpg");
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   // height: 100vh;
  //   margin-top: $header-height;
  //   padding-top: 0;
  //   @include mq() {
  //     padding-top: 0;
  //   }
  // }
}

.mypage{
  .container{
    &-memoSub{
      // float: left;
      background: $color_main;
      height: 100vh;
      width: $form-width;
      position: fixed;
      top: 0;
      left: 0;
    }
    &-memoList{
      margin-left: $form-width;
      text-align: center;


    }
    &-btn{
      width: $form-width;
      height: 80px;
    }
    &-config{
      padding: 0;
      margin: 50px 0 0;
      
    }
    &-configItem{
      text-align: center;
      padding-bottom: 10px;
    }
  }
  .btn{
    background-color: #f4e23a;
    color: #4e3515;
    display: block;
    width: 100px;
    margin: 20px;
    box-sizing: border-box;
    border: none;
    padding: 5px 0;
  }
  .configItem{
    a{
      color: $color_sub;
    }
  }
.memoList-card_wrap{
        padding: 0 20px;
        overflow: hidden;
        margin-right: -10px;
      }
  
  .input{
    width: 100%;
    border-radius: 10px;
    .container{
      width: 50%;
      margin: 0 auto;
      overflow: hidden;
    }
  
    &-form{
    border: 2px solid $color_main;
    width: $form-width;
    display: block;
    height: $form-width;
    box-sizing: border-box;
    margin-top: 80px;
    }
  }
  input[type="submit"]{
    box-sizing: border-box;
    background-color: #F4E23A;
    width: 100px;
    margin: 20px auto 0px;
    font-size: 14px;
    border-radius: 30px;
    line-height: 30px;
    transition: .3s;
    float: right;
    margin-right: 20px;
    border: 1px #4e3515 solid;
    &:hover{
      border: $color_main 1px solid;
      color: $color_main;
      background-color: $color_sub;
    }
  }
  .card{
    box-sizing: border-box;
    float: left;
    width: calc(100% / 3 - 10px);
    margin: 1px 10px 10px 0;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    box-shadow: 0 0 2px rgba($color_main, 0.6);
    padding: 15px;
  }
  
  a{
    color: $color_main;
  }
}
.paging {
  width: 1000px;
    text-align: center;
}
.under_element{
  clear: both;
}