textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  width: 100%;
}

textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
$form-width: 300px;
.mypage {
  margin-top: 60px;
}
.console {
  background-color: $color_main;
  overflow: hidden;
  max-width: 768px;
  margin: 59px auto 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  &__wrapper {
    background-color: $color_main;
  }
}
.nav {
  @include mq(sm) {
    display: none;
  }
  &__link {
    color: $color_sub;
  }
}
.form-wrap {
  float: left;
  max-width: 100%;
  box-sizing: border-box;
}
.form {
  overflow: hidden;
  width: 480px;
  max-width: 100%;
  &__inputArea {
    background-color: #fff;
    height: 15vh;
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    border-radius: 5px;
    @include mq(sm) {
      width: 100%;
    }
  }
  &__submitBtn {
    display: block;
    float: right;
    background: $color_sub;
    font-size: 20px;
    color: $color_main;
    transition: all 0.5s;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 100px;
    @include mq(sm) {
      width: 100%;
      padding: 20px 0;
      margin-top: 12px;
    }
    &:hover {
      background-color: lighten($color_sub, 20%);
    }
  }
}
.btn {
  display: block;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 30px;
  transition: 0.3s;
  background-color: $color_main;
  a {
    color: $color_sub;
  }
  &:hover {
    background-color: $color_sub;
    color: $color_main;
  }
  &-join {
    border: 1px solid $color_sub;
  }
  &__submit {
    background-color: #4e3515;
    color: $color_sub;
    width: 50%;
    font-size: 20px;
    height: 60px;
    border-radius: 60px;
    transition: 0.3s;
    &:hover {
      border: #4e3515 1px solid;
      color: #4e3515;
      background-color: $color_sub;
    }
  }
}

.bg-theme {
  // margin-top: $header-height;
  background-image: url("../../memopa/dist/anastasiia-kamil--uQZPtoJ8nk-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  @include mq() {
    padding-top: 0;
  }
}
.templete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;

  &__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  &__btn {
    margin: 20px auto;
    display: block;
  }
  &__navi {
    float: right;
    color: $color_main;
    text-decoration-style: double;
    border-bottom: 1px dotted $color_main;
    font-weight: normal;
    position: relative;
    font-size: 12px;
    top: 16px;
    left: -5px;
    &:hover {
      cursor: pointer;
    }
  }
}
.form {
  &__title {
    margin: 0;
  }
  &__input {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    margin: 0 auto 15px;
  }
}
.editPage {
  // background-color: rgba(255, 255, 255, 0.7);
  // border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  .container {
    &-title {
      padding: 30px 0 0;
      margin: 0;
      text-align: center;
    }
    &-form {
      width: 90%;
      margin: 10px auto;
      // padding-bottom: 30px;
      @include mq() {
        width: 100%;
      }
    }
    &-formItem {
      border-radius: 10px;

      &-name {
        margin-bottom: 7px;
        margin-left: 7px;
      }
    }
    &-btn {
      display: flex;
      justify-content: center;

      padding: 30px 0;
    }
    .title {
      font-weight: bold;
      text-align: center;
      font-size: 36px;
      @include mq() {
        font-size: 30px;
      }
    }
  }
}

.title {
  &__ornament {
    border-bottom: 2px dashed $color_main;
    display: inline-block;
    padding: 0 15px;
  }
}
.err {
  color: red;
  font-size: 10px;
  font-weight: bold;
}
