textarea{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  width: 100%;
}


textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}
$form-width: 300px;
.mypage{
  margin-top: 60px;
}
.console{
  background-color: $color_main;
  overflow: hidden;
  max-width: 768px;
  margin: 59px auto 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  &__wrapper{
    background-color: $color_main;
  }
}
.nav{
  @include mq(sm) {
    display: none;
  }
  &__list{
    
  }
  &__link{
    color: $color_sub;
  }
}
.form-wrap{
  float: left;
  max-width: 100%;
  box-sizing: border-box;
}
.form{
  overflow: hidden;
  width: 480px;
    max-width: 100%;
  &__inputArea{
    background-color: #fff;
    height: 15vh;
    display: block;
    box-sizing:border-box;
    border:none;
    padding: 10px;
    border-radius: 5px;
    @include mq(sm){
      width: 100%;
    }
  }
  &__submitBtn{
    display: block;
    float: right;
    background: $color_sub;
    font-size: 20px;
    color: $color_main;
    transition: all 0.5s;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 100px;
    @include mq(sm){
      width: 100%;
      padding:20px 0;
    margin-top: 12px;

      
    }
    &:hover{
      background-color: lighten($color_sub, 20%);
    }
  }
}
.btn{
  display: block;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 30px;
  transition: .3s;
  background-color: $color_main;
  a {
    color: $color_sub;
  }
  &:hover{
    background-color: $color_sub;
    color: $color_main;
  }
  &-join{
    border: 1px solid $color_sub;
  }
  &-submit{
    background-color: #4e3515;
    color: $color_sub;
    width: 50%;
    font-size: 20px;
    height: 60px;
    border-radius: 60px;
    transition: .3s; 
      &:hover {
      border: #4e3515 1px solid;
      color: #4e3515;
      background-color: $color_sub; 
    }
  }
}

.bg-theme {
  // margin-top: $header-height;
  background-image: url("../../memopa/dist/anastasiia-kamil--uQZPtoJ8nk-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  
    @include mq() {
      padding-top: 0;
    }
}
.editPage {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  .container{
    &-title{
      padding: 30px 0 0;
      margin: 0;
      text-align: center;
    }
    &-form {
      width: 90%;
      margin: 10px auto; 
      // padding-bottom: 30px;
      @include mq() {
        width: 100%;
      }
    }
    &-formItem {
      
      &-name{
        margin-bottom: 7px; 
        margin-left: 7px;
  
      }
    }
    &-btn{
      display: flex;
    justify-content: center;
    
    padding: 30px 0;

    }
    .title{
      font-weight: bold;
      text-align: center;
      font-size: 36px;
      @include mq() {
        font-size: 30px;
      }
    }
  }
}

.err {
  color: red;
font-weight: bold; }

