$space_3l: 100px;

$color_main: #4e3515;
$color_sub: #f4e23a;
$color_sub2: rgb(43, 29, 12);
$color_sub3: rgba(43, 29, 12, 0.9);

$font_family_corp: "Arial Rounded MT Bold", "Arial Black", sans-serif;

$hero-height: 700px;
$header-height: 60px;

$radius_m: 25px;

$form-width: 300px;
