@import 'valiables','mixins','base', 'utility',  'js-modules', 'header', 'footer','auth','mypage';

//*****************
// ヒーロー
//*****************

.hero{
  //
  margin-top: $header-height;
  background-image: url('../../memopa/dist/anastasiia-kamil--uQZPtoJ8nk-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $hero-height;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  @include mq(sm){
    height: 450px;
  }
  &__circle{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  background: rgb(36,13,0);
  background: linear-gradient(0deg, rgba(36,13,0,1) 0%, rgba(64,29,10,1) 29%, rgba(152,102,39,1) 100%);
    @include mq(sm) {
      width: 300px;
      height: 300px;
    }
    &:hover{   
      transform: scale(1.03) rotate(-0.01turn);
      cursor: pointer;
    }
  }
  &__title{
    font-size: 45px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    z-index: 3;
    color: $color_sub;
    font-family: $font_family_corp;
    @include mq(sm) {
      font-size: 30px;
    }
  @include mq() {

    }
  }
}



//*****************
// 共通パーツ
//*****************

section{
  width: 100%;
  .container{
  margin: 0 auto;
  width: 100%;
  padding-top:80px;
  padding-bottom: 100px;
  z-index: 4;
    @include mq() {
      width: 80%;
    }
    &-question{
      @include mq(){
        width: 100%;
      }
    }
    &-body{
    line-height: 1.8em;
    font-size: 19px;
    padding-top: 80px;
    text-align: center;
    color: $color_main;
    font-family: $font_family_corp;
    margin: 20px auto 0;
    width: 90vw;
      @include mq(sm) {
        width: 100%;
        text-align: left;
        font-size: 16px;
        padding: 30px 0;
        br {
          display: none;
        }
      }
    }
    &-title{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: $color_main;
    font-family: $font_family_corp;
      @include mq(sm){
        font-size: 29px;
      }
    }
    &-ornament{
    padding-bottom: 10px;
    border-bottom: 2px $color_main dashed;
    }
    &-about{
      line-height: 1.3em;
    }
    &-sign_up{
      .head{
        text-align: center;
        br{
          display: none;
        }
        @include mq() {
          br{
            display: block;
          }
        }
      }
    }
    &-btn{
          margin: 100px auto 0;
      }
  }
}
//******************
// ABOUT
//*****************

.question{
  // background-color: $color_sub;
  .container-title{
    color: $color_main;
    font-family: $font_family_corp;
  }
  .container-ornament{
    border-bottom: 2px $color_main dashed;
  }
}
//*****************
// FAQ
//*****************
.question{
    .container-body{
      padding: 10px;
      margin-top: 30px;
    }
}
.panel{
  box-sizing: border-box;
  // float: left;
  width: calc(96%/3);
  min-height: 550px;
  margin: 20px auto 0;
  padding: 0 auto;
  background-color: rgba(255, 255, 255, .6);
  border-radius: $radius_m;
  border: 3px $color_sub solid;
  @include mq() {
    width: 85%;
    margin: 0 auto 10px;
    text-align: center;
    min-height: 400px;
  }
  &-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include mq() {
      margin-right: 0;
      display: block;
    }
  }
  &-head{
    font-size: 25px;
    font-weight: bold;
  }
  &-body{
    overflow: hidden;
    img{
      width:100%;
      height: 300px;
      object-fit: cover;
      vertical-align: bottom;
      transition: all 1s ease-out;
      &:hover{
        transform: scale(1.05) rotate(1deg);
      }
      @include mq(sm) {
        height: 250px;
        // height: 00px;
      }
    }
  }
  &-foot{
    padding: 10px 15px;
    font-size: 19px;
    line-height: 1.4em;
    text-align: left;
    margin: 0;
    color: $color_main;
    font-family: $font_family_corp;
  }
}
.bg-color-sub{
  background-color: $color_main;
  h1,h2,h3,p,span{
    color: white;
  }
  .container-ornament{
    border-bottom: 2px $color_sub dashed;
    }
}


